<html>
  <body>
    <main>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |form| %>
        <div class="flex flex-col lg:w-1/2 justify-center items-center mx-auto">
          <h1 class="text-3xl font-bold my-10">Edit Acount</h1>
          <div class="flex flex-col lg:flex-row lg:w-3/5">
            <div class="flex flex-col lg:w-1/2 ">
              <%= form.label :first_name, class: "font-bold" %>
              <%= form.text_field :first_name, class: "border-2 rounded lg:w-11/12 mb-4" %>
            </div>
            <div class="flex flex-col lg:w-1/2">
              <%= form.label :last_name, class: "lg:ml-5 font-bold" %>
              <%= form.text_field :last_name, class: "lg:ml-5 border-2 rounded lg:w-11/12 mb-4" %>
            </div>
          </div>
          <div class="flex flex-col mx-auto lg:w-3/5">
            <%= form.label :username, class: "font-bold" %>
            <%= form.text_field :username, class: "border-2 rounded mb-4" %>
          </div>
          <div class="flex flex-col lg:w-3/5">
            <%= form.label :email, class: "font-bold" %>
            <%= form.text_field :email, class: "border-2 rounded mb-4" %>
          </div>
          <div class="flex flex-col mx-auto lg:w-3/5">
            <%= form.label :Current_Password, class: "font-bold" %>
            <%= form.password_field :current_password, autocomplete: "current-password", class: "border-2 rounded lg:mb-0" %>
          </div>
          <div class="mt-10 flex justify-between w-4/5 lg:w-3/5">
            <%= form.submit value: "Submit", class: "border-2 border-green-600 bg-green-50 hover:bg-green-100 text-green-700 w-32 h-10 rounded hover:cursor-pointer" %>
            <%= link_to "Cancel", account_path, class: "flex justify-center items-center rounded h-10 w-32 border-2 border-red-600 bg-red-50 hover:bg-red-100 text-red-700 hover:cursor-pointer" %>
          </div>
        </div>
      <% end %>
    </main>
  </body>
</html>
