<%= stylesheet_link_tag 'formdropdown', media: 'all' %>

<body class="">
  <header class="flex justify-center">
    <!-- Search form -->
    <%= form_with(model: @movie, url: reviews_search_reviews_path, method: :get, class: "flex flex-col lg:w-1/2") do |sel| %>
      <div class="flex items-center justify-center" data-controller="clearform">
        <div class="flex flex-col lg:flex-row lg:justify-start lg:w-full lg:h-10">
        <%= sel.text_field :title, value: params.dig(:movie, :title), placeholder: 'Search movies', class: "lg:w-3/5 rounded-md" %>
        <%= sel.submit "Search", class: "bg-blue-400 rounded-md lg:p-2 lg:ml-4 hover:cursor-pointer" %>
        <%= link_to "Reset search", "#", class: "w-30 h-10 bg-white border-2 border-blue-400 text-blue-400 rounded-md lg:py-2 lg:px-4 lg:ml-5 whitespace-nowrap", "data-action" => "click->clearform#clearForm" %>
        <% if @user.present? && @user.admin?%>
          <%= link_to "New Review", reviews_search_reviews_path, class: "w-30 h-10  lg:ml-5 bg-green-400 rounded-md lg:py-2 lg:px-4 whitespace-nowrap"%>
        <%end%>
        </div>
      </div>

      <div class="flex justify-between mt-4">
        <button class="border-2 border-gray-400 w-1/5 text-start pl-2 lg:pl-4 h-8">Year</button>
        <button class="border-2 border-gray-400 w-1/5 text-start pl-0.5 lg:pl-4 h-8">Rating</button>
        <button class="border-2 border-gray-400 w-1/5 text-start pl-1 lg:pl-4 h-8">Genre</button>
        <button class="border-2 border-gray-400 w-1/5 text-start pl-1 lg:pl-4 h-8">Score</button>
      </div>

      </div>
    <% end %>

  </header>
  <main>
    <div class="flex justify-center items-center flex-wrap flex-row">
      <% if @movies.present? %>
        <h2 class="flex w-screen justify-center my-8">Search Results:</h2>
      <% @movies.each do |movie| %>
        <div class="flex justify-center flex-col items-center">
          <div class="bg-blue-200 w-52 h-80 p-10 m-10 rounded">
            <p>Image here</p>
          </div>
          <p>Title: <%= movie.title %></p>
          <p>Rating: <%= movie.rating %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Score: ?/10</p>
          <p>Release Date: <%= movie.year %></p>
        </div>
      <% end %>
    <% elsif flash[:notice].present? %>
      <p><%= flash[:notice] %></p>
    <% end %>
    </div>
  </main>
</body>

