
<body class="bg-gray-200">
  <header class="flex">
    <!-- Search form -->
    <div data-controller="clearform" data-clearform-action="click=>clearform#clearForm" class="flex flex-wrap flex-row justify-center w-screen">
      <%= form_with(model: @movie, url: movies_path, method: :get, class: "w-full") do |sel| %>
        <div class="flex items-center justify-center m-2">
          <%= text_field_tag :search_input, params[:search_input], placeholder: 'Search movies', class: "w-1/2 p-2 rounded-md"%>
          <%= sel.submit "Search", class: "bg-blue-400 rounded-md p-2 ml-2"%>
          <%= link_to "Reset search", "#", class: "bg-blue-400 rounded-md py-2 px-4 ml-2" %>
        </div>
        <div class="flex justify-center m-2 space-x-40">
          <%= sel.select :year, options_for_select([["Release Year", nil], [2000, 2000], [2001, 2001], [2002, 2002], [2003, 2003]]), class: "w-40" %>
          <%= sel.select :genre, options_for_select([["Genre"], ["genre"]]), class: "w-40" %>
          <%= sel.select :rating, options_for_select([["Rating"], ["G"], ["PG"], ["PG-13"] ]), class: "w-40" %>
          <%= sel.select :score, options_for_select([["Score"], [1], [2], [3], [4], [5]]), class: "w-40" %>
        </div>
      <% end %>
    </div>

  </header>
  <main>
    <div class="flex justify-center items-center flex-wrap flex-row">
      <% if @movies.present? %>
        <h2 class="flex w-screen justify-center my-8">Search Results:</h2>
      <% @movies.each do |movie| %>
        <div class="flex justify-center flex-col items-center">
          <div class="bg-blue-200 w-52 h-80 p-10 m-10 rounded">
            <p>Image here</p>
          </div>
          <p><%= movie.title %></p>
          <p><%= movie.rating %></p>
          <p><%= movie.genre %></p>
          <p><%= movie.score %></p>
          <p><%= movie.year %></p>
        </div>
      <% end %>
    <% elsif flash[:notice].present? %>
      <p><%= flash[:notice] %></p>
    <% end %>
    </div>
  </main>
</body>

