<html>
  <body>
    <main class="flex w-screen h-screen flex-col">
      <div class="mt-10 lg:mt-40">
        <div class="flex justify-center w-full text-xl lg:text-3xl font-bold mb-10 lg:mb-0">
          <h1>Account Information</h1>
        </div>
        <div class="flex justify-between p-6 flex-row lg:text-xl lg:py-4 lg:px-8">
          <p class="lg:font-bold lg:ml-60">Name</p>
          <p class="lg:font-bold lg:mr-60"><%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
        <div class="flex justify-between p-6 flex-row lg:text-xl lg:py-4 lg:px-8">
          <p class="lg:font-bold lg:ml-60">Username</p>
          <p class="lg:font-bold lg:mr-60"><%= current_user.username %></p>
        </div>
        <div class="flex justify-between p-6 flex-row lg:text-xl lg:py-4 lg:px-8">
          <p class="lg:font-bold lg:ml-60">Email</p>
          <p class="lg:font-bold lg:mr-60"><%= current_user.email %></p>
        </div>
        <div class="flex flex-col lg:flex-row justify-center items-center mt-8">
          <%= link_to "Edit Profile", edit_account_path, class: "flex justify-center items-center h-8 w-36 lg:h-10 lg:w-40 border-2 bg-blue-50 text-blue-700 hover:bg-blue-100 border-blue-600 lg:mr-20 mb-10 lg:mb-0 rounded" %>
          <%= link_to "Password Reset", edit_password_path, class: "flex justify-center items-center h-8 w-36 lg:h-10 lg:w-40 border-2 bg-blue-50 text-blue-700 hover:bg-blue-100 border-blue-600 lg:ml-10 rounded" %>
        </div>
      </div>
    </main>
  </body>
</html>
