<!DOCTYPE html>
<html>
<head>
  <title>Seach a Movie to Review</title>
</head>
<body >
  <h1 class="flex justify-center font-bold " >
  What movie would you like to review?
  </h1>

  <div>
    <%= form_with(model: @movie, url: reviews_search_reviews_path, method: :get, class: "w-full") do |sel| %>
        <div class="flex items-center justify-center m-2" data-controller="clearform">
            <%= sel.text_field :title, value: params.dig(:movie, :title), placeholder: 'Search movies', class: "w-1/2 p-2 rounded-md" %>
            <%= sel.submit "Search", class: "bg-blue-400 rounded-md p-2 ml-2" %>
            <%= link_to "Reset search", "#", class: "bg-blue-400 rounded-md py-2 px-4 ml-2", "data-action" => "click->clearform#clearForm" %>
        </div>
    <% end %>
  </div>
      <div class="flex justify-center items-center flex-wrap flex-row">
        <% if @movies.present? %>
            <h2 class="flex w-screen justify-center my-8">Search Results:</h2>
        <% @movies.each do |movie| %>
        <div class="flex justify-center flex-col items-center">
          <div class="bg-blue-200 w-52 h-80 p-10 m-10 rounded">
            <p>Image here</p>
          </div>
          <div class="mb-4">
            <% if movie.title == "title 1"%>
            <%= link_to "Edit", "#", class: "bg-blue-200 rounded-md py-2 px-4 m-1"%>
            <%= link_to "Delete", "#", class: "bg-red-200 border-red rounded-md py-2 px-4 m-1"%>
            <% else %>
            <%= link_to "Create Review", "#", class: "bg-blue-200 rounded-md py-2 px-4 m-1" %>
            <% end %>
          </div>
          <p>Title: <%= movie.title %></p>
          <p>Rating: <%= movie.rating %></p>
          <p>Genre: <%= movie.genre %></p>
          <p>Score: <%= movie.score %>/10</p>
          <p>Release Date: <%= movie.year %></p>
        </div>
      <% end %>
    <% elsif flash[:notice].present? %>
      <p><%= flash[:notice] %></p>
    <% end %>


</body>
</html>
