<!DOCTYPE html>
<html>
  <head>
    <title>MovieKritik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
      <% if user_signed_in?%>
    <%= "Signed In as #{current_user.email}"%>
  <%end%>
   <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  </head>

  <body>
    <main>
    <%= render 'shared/nav'%>
      <%= yield %>
    </main>
  </body>
</html>
