<!DOCTYPE html>
<html>
  <head>
    <title>MovieKritik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>

    <!-- navigation -->
    <% if current_user %>
      <%= render 'devise/shared/nav'%>
    <% end %>
    
    <!-- if user logged in show username -->
      <% if user_signed_in? && current_user.admin? %>
        <%= "Signed In as #{current_user.email}"%>
        <%= turbo_frame_tag :delete_modal%>
      <%end%>

    <!-- flash messages -->
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
